@{
    ViewData["Title"] = "Acesso negado";
}

<div class="form-signin w-50 m-auto text-center">
    <h1 class="h3 mb-3 fw-normal">Acesso negado</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Você não tem permissão para isso.</p>
        <p class="lead mb-4">Contate um administrador.</p>
    </div>
</div>